/* 1. IMPORTACIÓN DE FUENTE Y VARIABLES GLOBALES (:root)*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

:root {
  --bg-color: #e1e4e7; /* El color de fondo de toda la página */
  --text-main: #000000; /* Color principal de los textos*/
  --primary: #014da5; /* El azul principal para líneas y botones */
  --primary-hover: #01b7ff; /* El celeste brillante que aparece cuando le paso el mouse */
  --accent: #f59e0b; /* Amarillo/naranja cálido para resaltar cosas importantes */
  --header-bg: #011931; /* El azul súper oscuro para el fondo del encabezado */
  
  --card-bg: #ffffff; /* El fondo blanco de las tarjetas */
  --shadow-sm: 0 4px 6px -1px rgba(0,51,102, 0.1); /* Una sombrita chica y azulada para que las cajas no se vean planas */
  --shadow-lg: 0 20px 25px -5px rgba(0,51,102, 0.2); /* Sombra más grande para el efecto al pasar el mouse */
  --radius: 4px; /* Redondeo esquina */
  --transition: all 0.2s ease-in-out; /* velocidad de los efectos visuales */
}
/* 2. RESETEO BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 3. ESTRUCTURA GENERAL */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color); /* Llamo al fondo gris */
  color: var(--text-main); /* Llamo al texto negro */
  
  /* GRID GENERAL: Armo la estructura de la página en 3 filas */
  display: grid;
  grid-template-rows: auto 1fr auto; 

  min-height: 100vh; 
  line-height: 1.6; 
}

